/* Admin Bookings Dashboard Styling */
.admin-bookings {
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-left: 300px; /* Adjust this value according to your sidebar width */
  margin-top: 100px; /* Set margin-top to match the height of your top navigation bar */
}

.admin-bookings h2 {
  color: #333;
}

.admin-bookings table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-bookings table,
.admin-bookings th,
.admin-bookings td {
  border: 1px solid #ddd;
}

.admin-bookings th,
.admin-bookings td {
  padding: 12px;
  text-align: left;
}

.admin-bookings th {
  background-color: #f2f2f2;
}

.admin-bookings tbody td {
  background-color: #fff;
}

.admin-bookings tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-bookings .actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items vertically */
}

.admin-bookings .actions-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; /* Add margin between buttons */
}
.admin-bookings .book-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; /* Add margin between buttons */
}

.admin-bookings .actions-container button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}

.admin-bookings .actions-container button:hover {
  background-color: #0056b3;
}

/* Modal Styling */
.modal {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 10px;
  color: #333; /* Text color for modal header */
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal-content button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-content button:last-child {
  margin-right: 0;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Additional Styling for Booked Status */
.admin-bookings tbody td.booked {

  background-color: #0056b3; /* Light green background for booked status */
  color: #155724; /* Dark green text color for booked status */
  font-weight: bold; /* Bold font for booked status */
}