/* carManagement.css */

.Car-management {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left: 265px; /* Adjust this value according to your sidebar width */
    margin-top: 70px; /* Set margin-top to match the height of your top navigation bar */
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody td {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
}

.actions-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions-container button:hover {
    background-color: #0056b3;
}

.edit-popup {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 16px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    max-width: 400px; /* Limit the maximum width of the popup */
    max-height: calc(100% - 40px); /* Set max height to fit within viewport */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.edit-popup h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
}

.edit-popup label {
    font-weight: bold;
}

.edit-popup input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.edit-popup .actions-container {
    display: flex;
    justify-content: flex-end;
}

.edit-popup button {
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.edit-popup button:hover {
    background-color: #0056b3;
}

.manage {
    margin-bottom: 10px;
}